@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --black: #333;
    --black2: #333;
    --white: #fff;
    --white2: #fff;
}

body {
    overflow-x: hidden;
}

.continer {
    position: relative;
    width: 100%;
}